@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: sans-serif;
		font-size: 16px;
  }
}

html, body, #root {
	height: 100vh;
	margin: 0;
}

#root {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}